<table class="bell-tcap-makeup" cell-spacing="5px" cell-border="1px solid #000">
  <tr>
    <td class="tcap-makeup-period"><strong>Period 2</strong><span>8:05 &ndash; 9:25</span></td>
  </tr>
  <tr>
    <td class="tcap-makeup-period"><strong>Period 4</strong><span>9:30 &ndash; 10:50</span></td>
  </tr>
  <tr>
    <td class="tcap-makeup-lunch"><strong>Lunch &amp;<br>TCAP Makeups</strong><span>10:55 &ndash; 12:30</span></td>
  </tr>
  <tr>
    <td class="tcap-makeup-period"><strong>Period 6</strong><span>12:35 &ndash; 1:55</span></td>
  </tr>
  <tr>
    <td class="tcap-makeup-period"><strong>Period 8</strong><span>2:00 &ndash; 3:20</span></td>
  </tr>
</table>
