<table class="bell-short-assembly" cell-spacing="5px" cell-border="1px solid #000">
  <tr>
    <td class="period"><strong>Period 1</strong><span>8:05 &ndash; 8:50</span></td>
  </tr>
  <tr>
    <td class="period"><strong>Period 2</strong><span>8:55 &ndash; 9:40</span></td>
  </tr>
  <tr>
    <td class="period"><strong>Period 3</strong><span>9:45 &ndash; 10:30</span></td>
  </tr>
  <tr>
    <td class="period"><strong>Period 4</strong><span>10:35 &ndash; 11:15</span></td>
  </tr>
  <tr>
    <td class="period"><strong>Period 5</strong><span>11:20 &ndash; 12:05</span></td>
  </tr>
  <tr>
    <td class="period"><strong>Period 6</strong><span>12:10 &ndash; 12:55</span></td>
  </tr>
  <tr>
    <td class="period"><strong>Period 7</strong><span>1:00 &ndash; 1:45</span></td>
  </tr>
  <tr>
    <td class="period"><strong>Period 8</strong><span>1:50 &ndash; 2:35</span></td>
  </tr>
  <tr>
    <td class="short-assembly"><strong>Short Assembly</strong><span>2:40 &ndash; 3:20</span></td>
  </tr>
</table>