<table class="bell-normal">
  <tr>
    <td><strong>Period 1</strong><span>8:05 &ndash; 8:55</span></td>
  </tr>
  <tr>
    <td><strong>Period 2</strong><span>9:00 &ndash; 9:50</span></td>
  </tr>
  <tr>
    <td><strong>Period 3</strong><span>9:55 &ndash; 10:45</span></td>
  </tr>
  <tr>
    <td><strong>Period 4</strong><span>10:50 &ndash; 11:40</span></td>
  </tr>
  <tr>
    <td><strong>Period 5</strong><span>11:45 &ndash; 12:35</span></td>
  </tr>
  <tr>
    <td><strong>Period 6</strong><span>12:40 &ndash; 1:30</span></td>
  </tr>
  <tr>
    <td><strong>Period 7</strong><span>1:35 &ndash; 2:25</span></td>
  </tr>
  <tr>
    <td><strong>Period 8</strong><span>2:30 &ndash; 3:20</span></td>
  </tr>
</table>