<table class="bell-block" cell-spacing="5px" cell-border="1px solid #000">
  <tr>
    <td class="block-period"><strong>Period 2</strong><span>8:05 &ndash; 9:35</span></td>
  </tr>
  <tr>
    <td class="block-period"><strong>Period 4</strong><span>9:40 &ndash; 11:15</span></td>
  </tr>
  <tr>
    <td class="block-lunch"><strong>Lunch</strong><span>11:20 &ndash; 12:10</span></td>
  </tr>
  <tr>
    <td class="block-period"><strong>Period 6</strong><span>12:15 &ndash; 1:45</span></td>
  </tr>
  <tr>
    <td class="block-period"><strong>Period 8</strong><span>1:50 &ndash; 3:20</span></td>
  </tr>
</table>
