<table class="bell-tcap" cell-spacing="5px" cell-border="1px solid #000">
  <tr>
    <td class="tcap-testing"><strong>TCAP Testing</strong><span>8:05 &ndash; 12:00</span></td>
  </tr>
  <tr>
    <td class="tcap-lunch"><strong>Lunch</strong><span>12:05 &ndash; 12:40</span></td>
  </tr>
  <tr>
    <td class="tcap-period"><strong>Period 2</strong><span>12:45 &ndash; 1:20</span></td>
  </tr>
  <tr>
    <td class="tcap-period"><strong>Period 4</strong><span>1:25 &ndash; 2:00</span></td>
  </tr>
  <tr>
    <td class="tcap-period"><strong>Period 6</strong><span>2:05 &ndash; 2:40</span></td>
  </tr>
  <tr>
    <td class="tcap-period"><strong>Period 8</strong><span>2:45 &ndash; 3:20</span></td>
  </tr>
</table>