<div id='features-header'><i>Flex</i>: Features &amp; Functions</div>
<div id='features-nav'>
  <b>&rarr;&nbsp;</b> <a href='#CMS' class='scroller'>Content Management System: Flex</a><sup>&trade;</sup><br/>
  <b>&rarr;&nbsp;</b> <a href='#VLE' class='scroller'>Virtual Learning Environment: the Classroom</a><sup>&trade;</sup><br/>
  <b>&rarr;&nbsp;</b> <a href='#communication' class='scroller'>Communication &amp; Planning Modules</a><br/>
  <b>&rarr;&nbsp;</b> <a href='#extras' class='scroller'>Extras &amp; Bonus Features</a>
</div>

<div id='CMS' class="box-container-full">

  <h1 class='features-title'>Content Management: <i>Flex<sup style='font-size:small'>&trade;</sup> System</i></h1>
  <ul class='features left'>

    <li>
      <h2 id='features-class-pages'>Class Pages</h2>
      <p>Build an online interface for teachers to organize their classroom resources and for students to access <a href='#VLE' class='scroller'>virtual learning tools</a> or check up on assignments.</p>
    </li>

    <li>
      <h2 id='features-activity-pages'>Activity Pages</h2>
      <p>Easily build fully-featured mini-sites for sports programs, student organizations or school productions, complete with a subscription system, calendar, message board and files.</p>
    </li>

    <li>
      <h2 id='features-custom-pages'>Custom Pages</h2>
      <p>Pick from multiple pre-made layouts for easy customization when building webpages without needing to write any code! Or, build your own layouts using inline HTML and CSS. Organize your pages using a robust nesting hierarchy.</p>
    </li>

  </ul>

  <ul class='features right'>

    <li>
      <h2 id='features-staff-pages'>Staff Pages</h2>
      <p>Browse through staff profiles using the organized staff directory, and easily find information about staff members, including their schedules and contact information. Use staff pages also to quickly access class pages.</p>
    </li>

    <li>
      <h2 id='features-department-pages'>Department Pages</h2>
      <p>Build pages to categorize staff members by subject and organize important department information in one convenient location.</p>
    </li>

    <li>
      <h2 id='features-nav-pages'>Navigation Pages</h2>
      <p>Construct clean, accessible navigation directories to enable swift access to important areas of the website. Upload photos to make the pages even more visually appealing.</p>
    </li>

  </ul>

</div>


<div id='VLE' class="box-container-full">

  <h1 class='features-title'>Virtual Learning Environment: <i>the Classroom<sup>&trade;</sup></i></h1>
  <ul class='features left'>

    <li>
      <h2 id='features-flashcards'>Flashcards</h2>
      <p>Quickly build decks of flashcards to memorize vocabulary or concepts, study efficiently by only studying cards you don't already know, and share your decks with your friends and classmates!</p>
    </li>

    <li>
      <h2 id='features-discussions'>Discussions</h2>
      <p>Initiate online conversations and virtual socratic seminars between students and teachers alike. Comment on other people&rsquo;s discussions, and keep track of insightful contributions by marking them as <i>&lsquo;Great Comments&rsquo;</i>.</p>
    </li>

  </ul>

  <ul class='features right'>

    <li>
      <h2 id='features-quizzes'>Quizzes &amp; Tests</h2>
      <p>Build and take simple multiple-choice or fill-in-the-blank assessments, identify incorrect answers and correct your mistakes, keep track of students&rsquo; scores, and graphically interpret the results.</p>
    </li>

    <li>
      <h2 id='features-questions'>Questions</h2>
      <p>Ask students or teachers questions about <a href='#communication' class='scroller'>homework</a>, concepts or class info. Award points to helpful answers to rank them by usefulness, and help out your peers by answering their questions!</p>
    </li>

  </ul>

</div>


<div id='communication' class="box-container-full">

  <h1 class='features-title'>Communication &amp; Planning: <i>Integrated Modules</i></h1>
  <ul class='features left'>

    <li>
      <h2 id='features-assignments'>Assignments</h2>
      <p>Keep track of assignment due dates, plan tasks in advance, and organize an online planner for all your classes. Manage homework in real-time, or view past assignments with ease.</p>
    </li>

    <li>
      <h2 id='features-calendar'>Calendar</h2>
      <p>View upcoming events for classes, activities, or the whole school in a continuous stream or grid view, one month at a time. Zoom in on a single event for more details.</p>
    </li>

    <li>
      <h2 id='features-messages'>Messages</h2>
      <p>Teachers send messages to communicate important information directly to their students via email; students use the message feed to organize their activity and class information in one place.</p>
    </li>

  </ul>

  <ul class='features right'>

    <li>
      <h2 id='features-files'>Files</h2>
      <p>Easily upload files of any type one at a time or simultaneously to classes or activities. Organize files into nested folders and preview Word Docs, PDFs and other formats right in your browser.</p>
    </li>

    <li>
      <h2 id='features-announcements'>Announcements</h2>
      <p>Create styled announcements that auto-expire to communicate information to visitors. Highlight important announcements and display event dates for improved readability.</p>
    </li>

    <li>
      <h2 id='features-photos'>Photo Galleries</h2>
      <p>Upload photos one at a time or simultaneously to view in elegant galleries on the website. Photos are automatically resized and compressed for the optimal viewing experience.</p>
    </li>

  </ul>

</div>


<div id='extras' class="box-container-full">

  <h1 class='features-title'>Admin Extras &amp; Bonus Features</h1>
  <ul class='features left'>

    <li>
      <h2 id='features-edit-privs'>Edit Privileges Control</h2>
      <p>Gain fine-toothed control over who can edit and view content on the site with advanced edit privilege management tools. Admin accounts give select users unrestricted access to information.</p>
    </li>

    <li>
      <h2 id='features-security'>Airtight<sup>&trade;</sup> Security</h2>
      <p>Robust multi-layered security systems ensure that only authorized users are allowed to access and edit sensitive information. Seamlessly regulate visitor access with privacy controls.</p>
    </li>

  </ul>

  <ul class='features right'>

    <li>
      <h2 id='features-accounts'>Personalized Accounts</h2>
      <p>Students and teachers use their accounts to interact with the <a href='#VLE' class='scroller'>VLE</a>, subscribe to <a href='#CMS' class='scroller'>classes and activities</a>, and <a href='#communication' class='scroller'>edit content</a>. Visitors sign in to access info uniquely tailored to their needs.</p>
    </li>

    <li>
      <h2 id='features-directory'>School Directory</h2>
      <p>Registering students and their families for the upcoming school year has never been easier. Registration doubles as an account verification system and results in a digital school directory.</p>
    </li>

  </ul>

</div>
