<div class="layout-description<% if @page.template == 1 %> current-layout<% end %>" id="layout-description-1">
  <p><b>You have selected the <span>Text &amp; Photos</span> page layout.</b>
  This layout allows you to write large blocks of text with bullets and headers, in addition to a limited number of photos and links.</p>
  <p>Click on the thumbnail to see an enlarged view of the layout.</p>
</div>
<div class="layout-description<% if @page.template == 2 %> current-layout<% end %>" id="layout-description-2">
  <p><b>You have selected the <span>Full Page Text</span> page layout.</b>
  Use this layout for displaying large amounts of textual information without any pictures or links.</p>
  <p>Click on the thumbnail to see an enlarged view of the layout.</p>
</div>
<div class="layout-description<% if @page.template == 3 %> current-layout<% end %>" id="layout-description-3">
  <p><b>You have selected the <span>Photo Gallery</span> page layout.</b>
  With this layout, you can set up a grid of as many photos as you want that enlarge when clicked. The layout also allows for a small description of the gallery.</p>
  <p>Click on the thumbnail to see an enlarged view of the layout.</p>
</div>
