.bundle
db/*.sqlite3
log
tmp/*
!tmp/restart.txt
public/sitemap.xml.gz
public/assets
public/assets/*
public/stylesheets/compiled/*
public/system
public/system/**/*
public/documents/counseling/*
public/testing_pages/*
spec/coverage/*
.ruby-gemset
.ruby-version
REVISION
assets_manifest.yml
*.DS_Store
config/database.yml
