<div id="full-page-side-bar">
  <p class="instructions">Use events to mark special school events, holidays, assemblies, and deadlines. School Calendar events should pertain to all students and/or their parents.</p>
  <p class="instructions">When you create an event, it will automatically appear in all students' customized calendars when they sign in.</p>

  <div id="school_event_name_annotation" class="annotation overlap">
    <p>Please keep event names brief. Names that are too long may not display in some parts of the site.</p>
    <p>If you want to provide details, please put them in the description instead.</p>
  </div>

  <div id="school_event_location_annotation" class="annotation">
    <p>If left blank, the location will default to <span>Fairview High School</span>If you want to specify a unique location, please do so.</p>
  </div>

  <div id="school_event_description_annotation" class="annotation">
    <%= render "shared/markup_annotation_mini" %>
  </div>
</div>
