<%= render "shared/error_messages", target: @folder %>

<h4 class="black"><%= @page.name %> &ndash; Edit Folder<%= link_to "Go Back", folder_path(@page, @folder), class: "back-button" %></h4>

<%= render "form" %>
