<div class="card">
  <h1>
    Calendar
  </h1>
  <h3> <%= link_to "List View", staff_page_class_page_calendar_list_path(@calendar.staff_page, @calendar) %>
  </h3>
  <%= raw(event_calendar) %>
</div>
</div>
